* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.4;

}

a {
    text-decoration: none;
    color: #000; /* for some reason, body {color: ...} doesn't cover this section */
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
}



/* Nav */
.nav {
    width: 100%;
    height: 10rem;
    padding: 40px 0;
    font-size: 1.4rem;
    align-items: center; /* centers left with right */
    /* position: relative; */

}

.nav-left {
    position: absolute;
    font-size: 2rem;
}

.nav-left:hover {
    opacity: 70%;
}

.nav img {
    position: absolute;
    width: 100px;
    left: 100px;
    top: 20px;
}

.nav-right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center; /* centers sign in button with links */
    border-bottom: 3px #ccc solid;
    padding-bottom: 25px;
}

.nav-right li {
    padding: 0 30px 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-right li:hover {
    border-bottom: 3px red solid;
}

.nav-right li:last-child:hover {
    border-bottom: none;
}

.btn {
    /* display: inline-block; */
    cursor: pointer;
    font-size: 1.2rem;
    background: #fff;
    padding: 8px 16px;
    border: 1.5px #000 solid;
    border-radius: 50px;
    text-transform: uppercase;
}

.btn:hover {
    background: rgb(247, 247, 247)
}


/* Banner */
.banner {
    background: url(img/temple-small.jpg) no-repeat center center/cover;
    height: 30rem;
    position: relative; /* so that h1 can be positioned relative to the top/left of the banner section */
}

.banner h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #000;
    position: absolute;
    top: 100px;
    left: 60px;
    background: #fff;
    padding: 0 10px;
    opacity: 80%;
}





/* Main page */
.container-main {
    width: 80%;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}



/* generic body styling */
.box {
    padding: 5px;
    margin: 50px 0;
    position: relative;
}

.text-absolute {
    position: absolute;
    background: #fff;
    opacity: 80%;
    padding: 5px 10px;
}



/* Map and intro */
.map {
    height: 30rem;
    /* background: #c0f5c39c; */
    /* text-align: center; */
    line-height: 1.5;
    border: #ccc 2px solid;
}

.map img {
    position: absolute;
    padding: 5px;
    right: 30px;
    top: 30px;
}

.map h2 {
    padding-top: 10px;
}


.map .text {
    position: absolute;
    top: 40px;
    left: 70px;
}

.map p {
    width: 400px;
    padding-top: 10px;
}




/* Beach */
.beach img {
    width: 100%;
    height: 30rem;
    align-items: center;
    justify-content: center;
}

.beach .text-absolute {
    top: 30px;
    left: 30px;
}





/* Culture */
.culture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: hidden;
    height: 19rem;
}

.culture img {
    width: 100%;
}

.culture .text-absolute {
    top: 30px;
    left: 50%;
    margin-left: 10px;
}





/* Seasonal */
.seasonal img {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.seasonal .text-absolute {
    bottom: 20px;
    left: 20px;
}




/* Hiking */

.hiking {
    margin: 50px auto;
    /* background: #1b490180; */
    /* left: 15%; */
}

.hiking img {
    height: 20rem;
    display: block;
    margin: 0 auto;
}

.hiking .text-absolute {
    bottom: 20px;
    left: 220px;
}




/* Footer */
.footer {
    margin: 30px 0;
    color: #999;
    font-size: 1rem;
  }