* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.4;

}

a {
    text-decoration: none;
    color: #000; /* for some reason, body {color: ...} doesn't cover this section */
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
    position: relative;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.container-main a {
    font-size: 16px;
} 


/* Nav */
.nav {
    width: 100%;
    height: 10rem;
    padding: 40px 0;
    align-items: center; /* centers left with right */
    /* position: relative; */

}

.nav-left {
    position: absolute;
    font-size: 2rem;
}

.nav-left:hover {
    opacity: 70%;
}

.nav img {
    position: absolute;
    width: 100px;
    left: 100px;
    top: 20px;
}

.nav-right {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center; /* centers sign in button with links */
    border-bottom: 3px #ccc solid;
    padding-bottom: 25px;
    font-size: 1.4rem;
}


/* li or a ?????? */
.nav-right li {
    padding: 0 30px 5px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.nav-right li:hover {
    border-bottom: 3px red solid;
}

.nav-right li:last-child:hover {
    border-bottom: none;
    /* because of this, the border-bottom in the dropdown-content sections also didn't exist for the last child */
}

.btn {
    /* display: inline-block; */
    cursor: pointer;
    font-size: 1.2rem;
    background: #fff;
    padding: 8px 16px;
    border: 1.5px #000 solid;
    border-radius: 50px;
    text-transform: uppercase;
}

.btn:hover {
    background: rgb(247, 247, 247)
}



/* Nav hover section */
.destinations-dropdown-content,
.interests-dropdown-content,
.hot-dropdown-content {
    position: absolute;
    left: 0; /* because nav-right is set to right: 0 */
}

.destinations-dropdown-content {
    width: 100%;
}

.interests-dropdown-content {
    width: 20rem;
}

.hot-dropdown-content {
    width: 12rem;
}

.destinations-dropdown-content li,
.interests-dropdown-content li,
.hot-dropdown-content li {
    display: none;
    text-align: left;
    width: 100%;
}

.destinations-dropdown-content li:hover,
.interests-dropdown-content li:hover,
.hot-dropdown-content li:hover {
    border-bottom: none;
}

.destinations-dropdown-content a:hover,
.interests-dropdown-content a:hover,
.hot-dropdown-content a:hover {
    border-bottom: 3px red solid;
    padding: 5px;
}

.destinations-dropdown-content ul,
.interests-dropdown-content ul,
.hot-dropdown-content ul {
  line-height: 2;
  /* display: block; */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  background-color: white;
  padding-top: 10px;
}



.destinations-dropdown,
.interests-dropdown,
.hot-dropdown {
    position: relative;
    z-index: 1;
}

.destinations-dropdown:hover .destinations-dropdown-content li,
.interests-dropdown:hover .interests-dropdown-content li,
.hot-dropdown:hover .hot-dropdown-content li {
    display: block;
} 








/* Mobile Menu Button */
.mobile-nav {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
}

.menu-btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fff;
    border: none;
}

.menu-btn:hover {
    cursor: pointer;
}










/* Banner */
.banner {
    background: url(img/temple-small.jpg) no-repeat center center/cover;
    height: 30rem;
    position: relative; /* so that h1 can be positioned relative to the top/left of the banner section */
}

.banner h1 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #000;
    position: absolute;
    top: 100px;
    left: 60px;
    background: #fff;
    padding: 0 10px;
    opacity: 80%;
}










/* Main page */
.container-main {
    width: 80%;
    margin: auto;
    position: relative;
    overflow-x: hidden;
}



/* generic body styling */
.box {
    padding: 5px;
    margin: 50px 0;
    position: relative;
}

.text-absolute {
    position: absolute;
    background: #fff;
    opacity: 80%;
    padding: 5px 10px;
}



/* Map and intro */
.map {
    height: 30rem;
    /* background: #c0f5c39c; */
    /* text-align: center; */
    line-height: 1.5;
    border: #ccc 2px solid;
}

.map img {
    position: absolute;
    padding: 5px;
    right: 30px;
    top: 30px;
}


.map .text {
    position: absolute;
    top: 50px;
    left: 70px;
}

.map p {
    width: 400px;
    padding-top: 10px;
}




/* Beach */
.beach img {
    width: 100%;
    max-height: 30rem;
    align-items: center;
    justify-content: center;
}

.beach .text-absolute {
    top: 30px;
    left: 30px;
}





/* Culture */
.culture {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: hidden;
    /* height: 19rem;*/  /* this is a problem when we resize, because the image gets smaller so the margin/padding/space between box element underneath gets bigger*/
}

.culture img {
    width: 100%;
}

.culture .text-absolute {
    top: 30px;
    left: 50%;
    margin-left: 10px;
}





/* Seasonal */
.seasonal img {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.seasonal .text-absolute {
    bottom: 20px;
    left: 20px;
}




/* Hiking */

.hiking {
    margin: 50px auto;
    /* background: #1b490180; */
    /* left: 15%; */
}

.hiking img {
    max-height: 20rem;
    display: block;
    margin: 0 auto;
}

.hiking .text-absolute {
    bottom: 20px;
    left: 220px;
}




/* Footer */
.footer {
    margin: 30px 0;
    color: #999;
    font-size: 1rem;
  }












/* Media queries */
@media(max-width:1150px) {
  .nav {
    height: 5rem;
    padding: 20px 0;
  }
     
  .nav img {
    width: 60px;
    left: 60px;
    top: 20px;
  }
    
    .nav-right li {
        padding: 0 10px 5px;
    }

    .nav-right a {
        font-size: 18px;
    }


    .banner h1 {
      font-size: 4rem;
    }
    
     
    .map .text {
        display: none;
    }

    .map img {
        margin: 0 auto;
    }

    .culture {
        display: grid;
        grid-template-columns: 1fr;  
        grid-gap: 10px;
    }

    .culture .text-absolute {
          top: 230px; /* ???? */
          right: 15px;
    }

    /* couldn't do it but maybe for future: resize text in .map - or maybe stick it into two columns */
  }



  @media(max-width: 900px) {    
      .banner h1 {
          font-size: 3.5rem;
      }

      .btn {
        font-size: 1rem;
        padding: 8px 12px;
      }

      /* make text-absolute box smaller ????? */
      
      
      h2 {
        font-size: 18px;
    }
    
    p, .container-main a, .nav-right a {
        font-size: 14px;
    }

    .map {
        display: none;
    }
  }



@media(max-width: 700px) {
    .hidden {
        transform: translateX(100%); /* moves it way over to the right as opposed to ACTUALLY hiding it (so basically you can't see it anyway) */
    }

    .mobile-nav {
        display: block;
    }

  .banner h1 {
    font-size: 3rem;
  }

  .nav-right {
    display: block;
    position: absolute;
    top: 80px;
    right: 0;
    background: #fff;
    z-index: 10;
    opacity: 95%;
    width: 50%;
}

.nav-right li {
    padding: 20px 50px;
}

.nav-right .btn {
    margin-top: 30px;
}

.nav-right li:hover {
    border-bottom: none;
}

.nav-right a:hover {
    border-bottom: 3px red solid;
    padding-bottom: 5px;
}

.destinations-dropdown-content,
.interests-dropdown-content,
.hot-dropdown-content {
  position: relative;   
}

}








/* Mobile query */
@media(max-width: 500px){    
    .mobile-nav {
        top: 20px;
    }
     .nav {
        height: 3rem;
        padding: 20px 0; 
        margin-bottom: 5px;
    }
    
    .nav-left {
        font-size: 1rem;
    }
    
    .nav img {
        height: 20px;
        width: auto;
        left: 35px;
    }

    .banner {
        width: 100%;
        height: 12rem;
    }

    .banner h1 {
        font-size: 2rem;
        top: 30px;
        left: 10px;
    }

    .container-main {
        width: 95%;
    }

    .box {
        margin: 10px 0;
    }

    .text-absolute {
        max-width: 200px;
        padding: 2px 4px;
        line-height: 1.2;
    }

    h2 {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }

    .container-main a {
        font-size: 10px;
    }

    .map {
        display: none;
    }

    img {
        height: auto;
    }

    .beach .text-absolute {
        top: 50%;
        left: 10px;
    }

    .culture .text-absolute {
        top: 52%;
        right: 0;
    }

    .seasonal .text-absolute {
        left: 10px;
        /* bottom: 10px; */
    }

    .hiking {
        margin: 0;
    }

    .hiking .text-absolute {
        bottom: 10px;
        left: 20px;
        max-height: 80px;
    }

    .hiking img {
        max-height: 10rem;
    }
}